section {
    display: grid;
    grid-template-columns: 10rem 1fr;
}

.list-of-tasks {
    border-inline-end: 1px solid black;
    list-style: none;
    padding-block-start: 1rem;
    font-size: .85rem;
}

.list-of-tasks a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
    padding-block: .25rem;
    padding-inline: .5rem .25rem;
    min-width: max-content;
    text-decoration: none;
}

.list-of-tasks a:hover,
.list-of-tasks a:focus-visible {
    background-color: var(--main-hover);
}

.list-of-tasks a:active {
    background-color: var(--main-active);
}

.list-of-tasks a.router-link-active {
    background-color: #F2F2F2;
    border-block-end: 2px solid var(--accent-color);
}