.main-nav a {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-block: 1.5rem;
    font-size: 1.25rem;
}

.main-nav a:hover,
.main-nav a:focus-visible {
    background-color: var(--accent-color-hover);
}

.main-nav a:active {
    background-color: var(--accent-color-active);
}

.main-nav a.active {
    background-color: #ffffff;
    color: var(--accent-color);
    pointer-events: none;
}

.module-icon {
    width: auto;
    height: auto;
    font-size: 2.5rem;
}